<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="language" value="eng"/>
    <add key="saves_path" value=""/>
    <add key="backup_path" value=""/>
    <add key="auto_backup_interval_min" value="10"/>
    <add key="max_backups" value="10"/>
  </appSettings>
</configuration>